[Desktop Entry]
Name=SaiyanQuest
Type=Application
Exec=txmn.py
Icon=resources/gfx/icon
Comment=Open source monster-fighting RPG
Terminal=false
Categories=games;
