[Desktop Entry]
Name=SaiyanQuest
Name[de_AT]=SaiyanQuest
GenericName=Open source monster-fighting RPG
GenericName[de]=SaiyanQuest
Comment=
Exec=org.SaiyanQuest.SaiyanQuest
Icon=org.SaiyanQuest.SaiyanQuest
Terminal=false
Type=Application
Categories=Game
StartupNotify=false

